@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    @apply mt-4 mb-6 sm:mb-8 font-bold text-6xl sm:text-7xl md:text-8xl text-green-400 text-center;
  }
  
  .recipe-image {
    @apply p-4 h-40 w-full md:h-80 mt-4 border rounded-md;
  }
  
  .recipe-card {
    @apply relative py-10 mb-4 sm:w-1/4 sm:m-2 md:w-1/5 lg:w-1/6 border-b-2 border-gray-700 rounded-md shadow-md font-bold text-white text-shadow text-lg text-center transition duration-300 ease-in-out hover:opacity-30;
  }

  .formcontainer {
    @apply sm:w-1/2 md:w-1/3 lg:w-1/4 m-auto;
  }

  .input {
    @apply py-2 px-2 w-full border-2 rounded-md border-gray-300;
  }

  .searchbar {
    @apply py-2 px-2 w-2/3 border-none rounded-r-sm rounded-b-sm border-gray-300;
  }

  .searchtype {
    @apply font-bold text-gray-700 border-r-2 border-gray-500 p-2 w-5 rounded-l-sm rounded-t-sm;
  }


  .textarea {
    @apply py-2 px-2 w-full h-32 border-2 rounded-md border-gray-300;
  }

  .label {
    @apply font-semibold text-gray-700;
  }

  .heading2 {
    @apply font-bold text-3xl text-green-400 mt-4 mb-2;
  }

  .button {
    @apply px-2 py-2 mt-4 mb-4 w-full rounded-md bg-green-400 text-white font-bold hover:bg-gray-700;
  }

  .button-close {
    @apply px-1 py-1 w-1/6 fixed right-1 top-20 rounded-lg shadow-lg bg-gray-600 text-white font-bold hover:bg-gray-700;
  }

  .button-add {
    @apply px-2 py-2 mt-4 mb-4 ml-2 w-full rounded-md bg-green-400 text-white font-bold hover:bg-gray-700;
  }

  .button-remove {
    @apply px-2 py-2 mt-4 mb-4 mr-2 w-full rounded-md bg-gray-400 text-white font-bold hover:bg-gray-700;
  }

  .button-cancel {
    @apply px-2 py-2 mt-4 mb-4 w-full rounded-md bg-red-400 text-white font-bold hover:bg-gray-700;
  }

  .link {
    @apply underline hover:text-gray-400;
  }

  .menu-invisible {
    @apply p-4 fixed left-0 top-16 z-0 w-full h-full opacity-0 invisible bg-green-600 text-white font-bold text-2xl transition duration-500;
  }

  .menu-visible {
    @apply visible;
  }
}

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}