@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    @apply mt-4 font-bold text-6xl text-green-400 text-center;
  }
  
  .recipe-image {
    @apply p-4 h-40 w-full md:h-80 mt-4 border rounded-md;
  }
  
  .recipe-card {
    @apply relative py-10 mb-4 sm:w-1/4 sm:m-2 md:w-1/5 lg:w-1/6 border-2 border-gray-700 rounded-md shadow-md font-bold text-white text-shadow text-lg text-center transition duration-300 ease-in-out hover:opacity-30;
  }

  .input {
    @apply py-2 px-2 w-full border-2 rounded-md border-gray-300;
  }

  .textarea {
    @apply py-2 px-2 w-full h-32 border-2 rounded-md border-gray-300;
  }

  .label {
    @apply font-semibold text-gray-700;
  }

  .heading2 {
    @apply font-bold text-3xl text-green-400 mt-4 mb-2;
  }

  .button {
    @apply px-2 py-2 mt-4 mb-4 w-full rounded-md bg-green-400 text-white font-bold hover:bg-gray-700;
  }

  .button-add {
    @apply px-2 py-2 mt-4 mb-4 ml-2 w-full rounded-md bg-green-400 text-white font-bold hover:bg-gray-700;
  }

  .button-remove {
    @apply px-2 py-2 mt-4 mb-4 mr-2 w-full rounded-md bg-gray-400 text-white font-bold hover:bg-gray-700;
  }

  .button-cancel {
    @apply px-2 py-2 mt-4 mb-4 w-full rounded-md bg-red-400 text-white font-bold hover:bg-gray-700;
  }

  .link {
    @apply underline hover:text-gray-400;
  }

  .menu-invisible {
    @apply p-4 fixed left-0 top-16 z-0 w-full h-full invisible bg-green-600 text-white font-bold text-2xl;
  }

  .menu-visible {
    @apply visible;
  }
}

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}